<!DOCTYPE html>

<html lang="en-US">
<head>
	<% include ../partials/stylesheets %>
	<% include ../partials/scripts %>
</head>

<body ng-app="app" ng-controller="homePageController">


	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<h1>
					Active Orders
				</h1>
				<div class="card" style="width: 18rem; outline: 1px grey" ng-repeat="(key, order) in active_orders">
			  		<div class="card-body">
			    		<h5 class="card-title">{{order.table_id}}</h5>
						<div ng-repeat="specific_orders in order.order_list">
			    			<h6 class="card-subtitle mb-2 text-muted" style="margin-top:0">{{specific_orders}}</h6>
						</div>
			    		<p class="card-text">Special Requests: {{order.special_requests}}</p>
						<a href="#" class="card-link" ng-click="order_ready(key)">Complete Order</a>
			    		<a href="#" class="card-link" ng-click="delete_order(key)">Delete Order</a>
			  		</div>
				</div>

				<button type="button" class="btn btn-info btn-lg" ng-click="add_order_test()">Add A Test Order</button>
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit New Order</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">&times;</button>
							  	<h4 class="modal-title">Order Form</h4>
							</div>
							<div class="modal-body">
								<input type="number" class="form-control" placeholder="Table Number" style="margin-bottom: 20px;" ng-model="table_id">
								<input type="number" class="form-control" placeholder="# of Plain Dosas" style="margin-bottom: 20px;" ng-model="plain_dosa">
								<input type="number" class="form-control" placeholder="# of Onion Dosas" style="margin-bottom: 20px;" ng-model="onion_dosa">
								<input type="number" class="form-control" placeholder="# of Vadas" style="margin-bottom: 20px;" ng-model="vada">
								<input type="text" class="form-control" placeholder="Special Requests" style="margin-bottom: 20px;" ng-model="special_requests">
								<button class="btn btn-success btn-block" ng-click="add_order()"><span class="glyphicon glyphicon-off"></span>Create Order</button>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
							</div>
						</div>
					</div>
				</div>


				<h1>
					Ready Orders
				</h1>

				<div class="card" style="width: 18rem; outline: 1px grey" ng-repeat="(key, order) in ready_orders">
			  		<div class="card-body">
			    		<h5 class="card-title">{{order.table_id}}</h5>
						<div ng-repeat="specific_orders in order.order_list">
			    			<h6 class="card-subtitle mb-2 text-muted" style="margin-top:0">{{specific_orders}}</h6>
						</div>
			    		<p class="card-text">Special Requests: {{order.special_requests}}</p>
						<a href="#" class="card-link" ng-click="order_not_ready(key)">Accidental Ready</a>
			    		<a href="#" class="card-link" ng-click="delete_order(key)">Delete Order</a>
			  		</div>
				</div>
			</div>
		</div>
	</div>



</body>

</html>
